.comments-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: #ffffff;
}

.comments-wrapper {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 0px;
}

.post-item {
  border: 1px solid #eee;
  padding: 5px 16px;
  cursor: pointer;
  transition: border 0.2s;
  margin-bottom: -20px;
  border-radius: 10px;
}

.post-item:hover {
  border-color: #007bff;
}

/* .post-item.active {
  border: 2px solid #007bff;
} */

.post-date {
  font-size: 12px;
  color: #888;
}

.comments-title {
  font-size: 16px;
  margin-top: 4px;
  color: #333;
}

.more-button {
  text-align: center;
  padding: 12px 0;
  color: #555;
  font-size: 14px;
  cursor: pointer;
  border-top: 1px solid #eee;
}

/* 기존에 있다면 합치거나 수정 */
.comment-fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.4s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.post-content {
  padding-top: 10px;
  font-size: 1rem;
  padding: 10px;
}

.allcomment-star {
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.post-del {
  margin-left: 0;
  text-align: right;
}

.comment-rating {
  margin-left: 0;
  text-align: right;
}

.post-title {
  font-size: 13px;
  color: #888;
}

.post-author {
  font-size: 13px;
  color: #888;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 6px; /* 아이콘과 작성자 사이 간격 */
}
