.menu-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  background-color: #ffffff;
}

/* 로그아웃 버튼 스타일 */
.logout-button {
  width: 100%;
  padding: 20px 0;
  margin-top: auto; /* 맨 아래로 밀기 */
  background: none;
  border: none;
  color: #333;
  border-top: 1px solid #eee;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout-button:hover {
  background-color: #fff1f1;
}

.menu-header {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}

.menu-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100%; /* 컨테이너 전체 높이 사용 */
  padding: 20px 0;
}

.user-info h3 {
  font-size: 1.4rem;
  font-weight: 1000;
  color: #333;
  margin-top: 50px;
  margin-bottom: 5px;
  letter-spacing: -0.5px;
}

.book-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #5c5c5c;
}

.book-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 1px;
}

.user-stats {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 16px 0; /* 선이랑 내용 간격 */
  border-top: 1px solid #eee; /* 위 선 */
  border-bottom: 1px solid #eee; /* 아래 선 */
}

.info-button {
  width: 100%;
  padding: 20px 40px;
  margin-top: auto;
  background: none;
  border: none;
  color: #333;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.2s ease;
}

.user-info h4 {
  color: black;
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 100;
  flex-direction: column;
}

.book-button {
  width: 120px; /* 버튼 가로 */
  height: 180px; /* 버튼 세로 */
  padding: 20px 60px;
  padding: 0; /* padding 없애야 이미지 꽉 참 */
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 100px 0;
}
